.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  position: fixed;
  height: 4rem;
  top: 0;
  background-color: hsl(0, 0%, 100%);
}

.left {
  justify-content: flex-start;
  display: flex;
  margin-block: auto;
  width: 15rem;
}

.center {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 15rem;
  gap: 1rem;
}

.center a {
  cursor: pointer;
  text-transform: capitalize;
  color: #8d99ae;
  transition: color .5s border-bottom .5s;
}

.center a:hover {
  color: #001219;
  border-bottom: 0.2rem solid hsl(136, 65%, 51%);
}

.right {
  justify-content: flex-end;
  display: flex;
  width: 15rem;
  align-items: center;
}

.Btn {
  margin-inline: auto;
  width: 130px;
  height: 45px;
  text-transform: capitalize;
  border-radius: 25px;
  border: 5px;
  background-color: hsl(136, 65%, 51%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color .5s;
}

.Btn:hover {
  background-color: hsl(136, 36%, 39%);
}